body {
	font-family: Verdana;
	color: blue;
	width: 90%;
	margin-left: 5%;
}

#resumen {
  display: none;
  text-align: center;
}

#contenido {
  text-align: center;
}

footer {
  text-align: center;
}

.adaptativa-porcentaje {
	width: 90%;
}

.adaptativa-porcentaje-1 {
	width: 90%;
}

.adaptativa-porcentaje-2 {
	width: 90%;
}

.adaptativa-porcentaje-3 {
	width: 90%;
}

 @media (min-width: 600px) {
      #resumen {
      display: block;
    }

      body {
        font-size: 16px;
        color: red;
      }
 }

 @media (min-width: 900px) {
      #resumen {
        display: block;
      }

      body {
        font-size: 14px;
        color: black;
      }
 }
